# Build
/build
dist/
*.egg-info/

# Python
__pycache__/
*.py[cod]
*.so
.venv/
.hatch/

# Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml

# IDE
.idea/
.vscode/
*.swp

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# OS
.DS_Store

# Hypothesis
.hypothesis/

# Pytest
.pytest_cache/
